body {
  font-family: Arial, sans-serif;
  background: url("./background.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  margin: 0;
  color: #fff;
}

.game {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
}

.player-inputs {
  margin-bottom: 20px;
}

.player-inputs input {
  padding: 10px;
  margin: 5px;
  width: calc(100% - 22px);
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  grid-gap: 8px;
  margin-bottom: 10px;
}

.cell {
  width: 90px;
  height: 90px;
  background-color: #784571;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  border-radius: 35px;
}

.cell.X {
  color: red;
}

.cell.O {
  color: blue;
}

#message {
  margin-top: 20px;
  font-size: 1.2em;
}

.scoreboard {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-top: 10px;
}

.player {
  margin-top: 20px;
  text-align: center;
}
