.theme-selector {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.theme-selector label {
  color: #fff;
}

.theme-selector select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
}
